/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */


@font-face {
    font-family: poppins;
    src: url("../font/Poppins-Regular.ttf");
}

@font-face {
    font-family: josh;
    src: url("../font/Jost-Light.ttf");
}

@font-face {
    font-family: urbanist;
    src: url("../font/Urbanist-Medium.ttf");
}

body {
    font-family: "urbanist";
    font-weight: 500;
}

:root {
    --colorPrimary: #2c3d4d;
    --colorSecondary: #2b5c8a;
    --colorWhite: #ffffff;
    --colorOffWhite: #f7f7f7;
    --colorBorderWhite: #dbe4e9;
    --colorBlack: #000000;
    --colorHalfBlack: #333333;
    --colorBackgroundBlack: #343a40bd;
    --colorBackgroundOverlay: #00000070;
    --colorWhiteOverlay: rgba(212, 210, 212, 1);
}

/* common */

.custom-btn {
    background-color: var(--colorPrimary);
    color: white;
    text-transform: capitalize !important;
    font-family: "poppins";
    font-weight: 400;
    font-size: 1.2em !important;
    border-radius: 10px;
    padding: 10px;
}

.btcustom-btnn:hover {
    background-color: var(--colorSecondary);
}

.custom-btn2 {
    background-color: var(--colorBlack);
    color: white !important;
    text-transform: capitalize !important;
}

.custom-btn2:hover {
    background-color: var(--colorBlack);
}

.Heading {
    font-size: 3em;
    text-transform: uppercase;
    font-family: "josh";
    font-weight: 300;
    color: var(--colorPrimary);
}

/* Navbar Section */

.navbar-expand-lg .navbar-collapse {
    justify-content: flex-end;
}

.navbar-nav .nav-link {
    color: var(--colorBlack);
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
    background-color: var(--colorPrimary);
    height: 100%;
    color: var(--colorWhite) !important;
    font-weight: 600;
    border-radius: 5px;
}

/* .nav-link:hover {
    background-color: var(--colorOffWhite);
} */

.navbar-nav i {
    margin-right: 10px;
    padding-left: 5px;
}

.navbar-toggler {
    background-color: var(--colorPrimary);
}

@media only screen and (min-width: 1000px) {
    .navbar-nav .nav-link {
        font-size: 1.3vw !important;
        letter-spacing: 0.02vw;

    }

    .navbar-brand {
        width: 200px;
        height: 80px;
    }


    .navbar-brand img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

}

@media only screen and (max-width: 900px) {
    .navbar-brand {
        width: 70px;
    }
}

.navbar-expand-lg .navbar-collapse {
    justify-content: flex-end;
    padding-top: 10px;
    text-align: center;
}

/* slider */
.hero-slider {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to bottom, rgba(14, 29, 51, 0.8), rgba(14, 29, 51, 0.2));
}

.hero-slider .carousel-cell {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero-slider .carousel-cell .slide-content {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

.hero-slider .carousel-cell .slide-content .title {
    position: relative;
    font-family: 'Fjalla One', sans-serif;
    font-size: 1.5em;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #fff;
}

/* .hero-slider .carousel-cell .slide-content .caption {
font-family: 'Noto Sans', sans-serif;
font-size: 2.2rem;
color: #fff;
margin-bottom: 30px;
} */

.hero-slider .carousel-cell .slide-content .btn,
.btn {
    display: inline-block;
    padding: 14px 18px;
    text-transform: uppercase;
    font-family: 'Noto Sans', sans-serif;
    font-size: 1em !important;
    letter-spacing: 2px;
    color: white !important;
    text-decoration: none;
    margin-top: 10px;
}

.hero-slider .flickity-prev-next-button {
    width: 80px;
    height: 80px;
    background: transparent;
}

.hero-slider .flickity-prev-next-button:hover {
    background: transparent;
}

.hero-slider .flickity-prev-next-button .arrow {
    fill: white;
}

.hero-slider .flickity-page-dots {
    bottom: 30px;
}

.hero-slider .flickity-page-dots .dot {
    width: 30px;
    height: 4px;
    opacity: 1;
    background: rgba(255, 255, 255, 0.5);
    border: 0 solid white;
    border-radius: 0;
}

.hero-slider .flickity-page-dots .dot.is-selected {
    background: var(--colorPrimary);
    border: 0 solid var(--colorPrimary);
}

/* -------------------------------- Masking -------------------------------- */
.slide-content .title,
.slide-content .caption,
.slide-content .btn {
    position: relative;
    opacity: 0;
    animation-fill-mode: forwards;
}

.slide-content.mask .mask {
    position: relative;
    overflow: hidden;
}

.slide-content.mask .title {
    animation-duration: 0.4s;
    animation-delay: 0.7s;
    animation-name: slide-up;
    animation-fill-mode: backwards;
    opacity: 1;
}

.slide-content.mask .divider {
    display: inline-block;
    position: relative;
    margin: 5px auto;
    height: 2px;
    width: 60%;
    background-color: #fff;
    animation: divider-mask 1s 0.3s both;
}

.slide-content.mask .caption,
.slide-content.mask .btn {
    animation-duration: 0.4s;
    animation-delay: 0.7s;
    animation-name: slide-down;
}

@-webkit-keyframes slide-up {
    0% {
        opacity: 0;
        -webkit-transform: translateY(100%);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

@-moz-keyframes slide-up {
    0% {
        opacity: 0;
        -moz-transform: translateY(100%);
    }

    100% {
        opacity: 1;
        -moz-transform: translateY(0);
    }
}

@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@-webkit-keyframes slide-down {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-100%);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

@-moz-keyframes slide-down {
    0% {
        opacity: 0;
        -moz-transform: translateY(-100%);
    }

    100% {
        opacity: 1;
        -moz-transform: translateY(0);
    }
}

@keyframes slide-down {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@-webkit-keyframes divider-mask {

    0%,
    100% {
        transform: scaleX(0);
    }

    40%,
    60% {
        -webkit-transform: scaleX(1);
    }
}

@-moz-keyframes divider-mask {

    0%,
    100% {
        transform: scaleX(0);
    }

    40%,
    60% {
        -moz-transform: scaleX(1);
    }
}

@keyframes divider-mask {

    0%,
    100% {
        transform: scaleX(0);
    }

    40%,
    60% {
        transform: scaleX(1);
    }
}

@media screen and (max-width:600px) {
    .hero-slider {
        margin-top: 40px;
    }

    .hero-slider .carousel-cell .slide-content .title {
        font-size: 1em;
        padding: 0px 20px;
    }

    .flickity-prev-next-button .flickity-button-icon {
        width: 30%;
        height: 30%;
    }
}

/* about us */

#About-us {
    background-color: #F1F1F1;
}

/* about-us */

@media screen and (min-width:1000px) {
    .overhead .Over_img {
        position: absolute;
        width: 400px;

        /* left: 100%; */
        /* height: 300px; */
    }

    .overhead .Over_img img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }

    .overhead .Over_img2 {
        position: relative;
        top: 50%;
        left: 50%;
        width: 230px;
        /* height: 100px; */
    }

    .overhead .Over_img2 img {
        border-radius: 10px;
    }

}

@media screen and (max-width:800px) {
    .overhead .Over_img {
        /* position: absolute; */
        width: 100%;
        /* height: 300px; */
    }

    .overhead .Over_img img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }

    .overhead .Over_img2 {
        display: none;
    }

}

.paragraph {
    text-align: justify;
}

/* property Section */

.property {
    padding: 20px;
    border: 2px solid black;
    background: linear-gradient(to bottom, var(--colorPrimary), var(--colorSecondary));
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.295);
    border-radius: 10px;
    color: white;
}

.blnk-button {
    animation: blink 3s linear infinite;
    /* text-transform: uppercase; */
}

@keyframes blink {
    0% {
        color: var(--colorBlack);
    }

    49% {
        color: var(--colorWhite);
    }

    50% {
        color: var(--colorBlack);
    }

    100% {
        color: var(--colorWhite);
    }
}

/* .property .carousel-item{
    width: 100%;
    height: 100%;
} */

.property .carousel-item img {
    border-radius: 10px;

    /* height: 100%; */
}

.property-header {
    font-size: 2em;
    font-family: "josh";
    font-weight: bolder;
    text-transform: uppercase;
}

.property-content {
    text-align: justify;
    font-size: 1.2em;
}


/* gallery */

#gallery_section {
    background-color: #F1F1F1;
}

.masonry {
    /* Masonry container */
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
    -webkit-column-gap: 1em;
    -moz-column-gap: 1em;
    column-gap: 1em;
    margin: 1.5em;
    padding: 0;
    -moz-column-gap: 1.5em;
    -webkit-column-gap: 1.5em;
    column-gap: 1.5em;
    font-size: .85em;
}

.item {
    display: inline-block;
    background: #fff;
    padding: 0.5em;
    margin: 0 0 1.5em;
    width: 100%;
    -webkit-transition: 1s ease all;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-shadow: 2px 2px 4px 0 #ccc;
    transition: transform .1s;
}

.item:hover {
    -ms-transform: scale(1.1);
    /* IE 9 */
    -webkit-transform: scale(1.1);
    /* Safari 3-8 */
    transform: scale(1.1);
}

.item img {
    max-width: 100%;
}

@media only screen and (max-width: 320px) {
    .masonry {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }
}

@media only screen and (min-width: 321px) and (max-width: 768px) {
    .masonry {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1200px) {
    .masonry {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}

@media only screen and (min-width: 1201px) {
    .masonry {
        -moz-column-count: 4;
        -webkit-column-count: 4;
        column-count: 4;
    }
}


/* testimonals */

.gtco-testimonials {
    position: relative;
    margin-top: 30px;

    h2 {
        font-size: 30px;
        text-align: center;
        color: #333333;
        margin-bottom: 50px;
    }

    .owl-stage-outer {
        padding: 30px 0;
    }

    .owl-nav {
        display: none;
    }

    .owl-dots {
        text-align: center;

        span {
            position: relative;
            height: 10px;
            width: 10px;
            border-radius: 50%;
            display: block;
            background: var(--colorPrimary);
            border: 2px solid var(--colorSecondary);
            margin: 0 5px;
        }

        .active {
            box-shadow: none;

            span {
                background: var(--colorPrimary);
                box-shadow: none;
                height: 12px;
                width: 12px;
                margin-bottom: -1px;
            }
        }
    }

    .card {
        background: #F1F1F1;
        box-shadow: 0 8px 30px -7px #919191;
        margin: 0 20px;
        padding: 0 10px;
        border-radius: 20px;
        border: 0;

        .card-img-top {
            max-width: 100px;
            border-radius: 50%;
            margin: 15px auto 0;
            box-shadow: 0 8px 20px -4px #c6c7c9;
            width: 100px;
            height: 100px;
        }

        h5 {
            color: var(--colorPrimary);
            font-size: 21px;
            font-family: 'josh';
            line-height: 1.3;

            span {
                font-size: 18px;
                color: #666666;
            }
        }

        p {
            font-size: 18px;
            color: #000000;
            padding-bottom: 15px;
        }
    }

    .active {
        opacity: 0.5;
        transition: all 0.3s;
    }

    .center {
        opacity: 1;

        h5 {
            font-size: 24px;

            span {
                font-size: 20px;
            }
        }

        .card-img-top {
            max-width: 100%;
            height: 120px;
            width: 120px;
            background-color: rgba(255, 255, 255, 0.123);
        }
    }
}

@media (max-width: 767px) {
    .gtco-testimonials {
        margin-top: 20px;
    }
}

.owl-carousel {
    .owl-nav button {

        &.owl-next,
        &.owl-prev {
            outline: 0;
        }
    }

    button.owl-dot {
        outline: 0;
    }
}

/* footer */

footer {
    background-color: var(--colorBlack);
    color: var(--colorWhite);
    padding-top: 30px;
}

/* footer .links{
    text-align: center;
} */

.about-footer {
    font-size: 1.1em;
    text-align: justify;
}

footer .links p {
    font-size: 2em;
    font-family: 'josh';
    font-weight: 400;
}

footer .links a {
    font-size: 1.5em;
}

.social-icon {
    font-size: 2em;
}

.social-icon i {
    padding: 0 5px;
}

.copyright {
    font-size: 1.2em;
    text-align: center;
}